#shoplist{background: #f5f5f5;border-bottom: 1px solid #e1e1e1;padding-bottom: 50px;}
#shoplist .f1{margin-bottom: 20px;}
#shoplist .f1 .c1{padding-top:38px;}
#shoplist .f1 .c1 ul{overflow: hidden;background:#fff;}
#shoplist .f1 .c1 ul li{float: left;width: 190px;height: 270px;padding: 5px;}
#shoplist .f1 .c1 ul .shopbox .shop{height: 152px;padding: 20px;}
#shoplist .f1 .c1 ul .shopbox .shop a{display: block;width:150px;height: 152px;}
#shoplist .f1 .c1 ul .shopbox:hover{background: rgba(0,0,0,.1)}
#shoplist .f1 .c1 ul .shopbox .shopname{display:block;height: 36px;font: 14px/18px "";color: #666;text-align: center;}
#shoplist .f1 .c1 ul .shopbox .shoprice{height: 42px;text-align: center;font: 16px/40px "";}
#shoplist .f1 .c1 ul .shopbox .shoprice span:first-child{color: #f00;}
#shoplist .f1 .c1 ul .shopbox .shoprice del{font: 12px/40px "";color: #999;}