*{margin: 0;padding: 0;}
.margin{width:1090px;margin:0 auto;}
a{text-decoration: none;}
li{list-style: none;}

header{height: 78px;padding-top: 20px;border-top: 1px solid #e8e8ea;border-bottom: 1px solid #e8e8ea;}
header a img{height:64px;}

#register{background:#f8f8f8;height: 600px;position:relative;border-bottom: 1px solid #e8e8ea;}
#register .l1 img{display:block;width:400px;height:203px;position:absolute;left:145px;top:85px;}

#register .margin .form{background:#fff; float: right;margin-top: 75px;width: 380px;padding: 19px;border:1px solid #eaeaea;}
#register .margin .form .visitor{height: 32px;font: 16px/2 "";color: #e31436;border-bottom: 1px solid #e8e8e8;}
#register .margin .form ul{overflow: hidden;}
#register .margin .form ul li:nth-child(1){height: 35px;margin-top:20px;}
#register .margin .form ul li span{float:left;width:80px;height: 35px;font: 16px/35px "";}
#register .margin .form ul li:nth-child(1) .tel{float:left;height: 25px;padding: 4px 6px;width: 266px;border: 1px #ddd solid;border-radius: 5px;}
#register .margin .form ul li:nth-child(2){height: 35px;margin-top:20px;}
#register .margin .form ul li:nth-child(2) .pass{float:left;height: 25px;padding: 4px 6px;width: 266px;border: 1px #ddd solid;border-radius: 5px;}
#register .margin .form ul li:nth-child(3){height: 35px;margin-top:20px;}
#register .margin .form ul li:nth-child(3) .repass{float:left;height: 25px;padding: 4px 6px;width: 266px;border: 1px #ddd solid;border-radius: 5px;}
#register .margin .form ul li:nth-child(4){height: 35px;margin-top:20px;}
#register .margin .form ul li:nth-child(4) .yanzhengma{width: 150px;height: 25px;padding: 4px 6px;border: 1px solid #ddd;float: left;border-radius: 5px;}
#register .margin .form ul li:nth-child(4) p{width: 80px;height: 35px;font: 14px/35px "";text-align: center;float: left;margin-left: 20px;border: 1px solid #ddd;border-radius:5px;background: #e31436;color: #fff;cursor: pointer;}
#register .margin .form ul li:nth-child(5){height: 59px;margin-top:20px;}
#register .margin .form ul li:nth-child(5) .error{height: 24px;font: 12px/2 "";color: #f00;}
#register .margin .form ul li:nth-child(5) .zhucebtn{width:378px;height: 33px;border: 1px solid #e31436;color: #fff;font: 14px/33px "";background: #e31436;border-radius:5px;text-align: center;cursor: pointer;}


footer {
    height: 153px;
    background: #fff;
    color: #c2c2c2; }
    footer .nest {
      padding: 14px 0; }
      footer .nest p {
        text-align: center;
        font: 12px/25px "";
        margin: 0 auto; }