.margin{width:1090px;margin:0 auto;}
.bg{background:url(../imgs/bg2.png) no-repeat;background-size:236px 40px;}
.bg1{background:url(../imgs/bg1.png) no-repeat;background-size:96px 32px;}
.bg3{background:url(../imgs/bg3.png) no-repeat;background-size:220px 40px;}
.bg4{background:url(../imgs/bg4.png);background-size:208px 312px;}
.bg5{background:url(../imgs/bg5.png);background-size:192px 48px;}

#topNav{color:#999;font:12px/30px "";}
.login{float:right;}
.login a{display:inline-block;color:#999;} 

nav{ 
    border-bottom: 1px solid #ccc;
}

nav .navTop{
    height:40px;
    display:flex;justify-content:space-between;
    padding-left: 25px; 
    
}
nav .navTop li{
    align-self:center;
    height:40px;   
    overflow: hidden;
    padding: 0 20px;
}
nav .navTop li a{
    display:block;
    font:700 14px/40px "";color:#000;   
}
nav .navTop li a:hover{color:red;text-decoration:none;}

/* #goods{height:4200px;border-bottom:1px solid #eaeaea;}
#goods .content{background:#f0f0f0;}
#goods .content .part{height:60px;background:rgb(227, 20, 54);}
#goods .content .part .home{float:left;width:125px;font:28px/60px "";color:#fff;text-align:center;border:1px solid #fff;}
#goods .content .part .baby{float:left;width:125px;font:28px/60px "";color:#fff;text-align:center;border:1px solid #fff;}
#goods .content .tab{position:relative;height:934px;}
#goods .content .tab .list{ display:flex;flex-wrap:wrap;position:absolute;margin:12px 0 0 38px;height:862px;}
#goods .content .tab .list.list-l{}
#goods .content .tab .list.list-r{display:none;}
#goods .content .part .home:hover{}
#goods .content .part .baby:hover{}
#goods .content .tab .list li{flex-grow:0;width:192px;height:277px;background:#fff;position:relative; margin:0 1px 7px 10px;} 
#goods .content .tab .list li .com a img{width:192px;height:192px;} */
/* 
#goods .content .tab .list li .area{position:absolute;left:15px;top:175px;width:56px;height:15px;border:1px solid #e31436;border-radius: 3px;text-align:center;}
#goods .content .tab .list li .area a{color:#e31436;}
#goods .content .tab .list li .name{margin-left:5px;display:block;width:175px;font:700 14px/28px "";color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#goods .content .tab .list li h6{margin-left:5px;font:12px/2 "";color:#666;}
#goods .content .tab .list li .desc{margin-left:5px;}
#goods .content .tab .list li .desc .price{font:700 16px/32px "";color:#e31436;float:left;}
#goods .content .tab .list li .desc .buy{display:block;width:60px;height:24px;font:12px/2 "";color:#fff;text-align:center;float:right;margin:4px 5px 4px 0;border-radius: 3px;background:#e31436;} */




