@charset "UTF-8";
.title {
  height: 100px;
  overflow: hidden; }
  .title .logo {
    float: left;
    margin: 20px 135px 16px 0; }
  .title .search {
    float: left;
    width: 510px;
    margin: 24px 0 12px; }
    .title .search .find {
      overflow: hidden;
      border: 2px solid red;
      height: 40px;
      border-radius: 40px;
      position: relative; }
      .title .search .find i {
        float: left;
        margin: 11px 9px;
        width: 14px;
        height: 14px;
        background-position: -20px 0; }
      .title .search .find .sea {
        float: left;
        width: 410px;
        height: 24px;
        margin: 6px 0;
        border: none; }
      .title .search .find .btn {
        float: right;
        background: #ff2337;
        width: 50px;
        height: 36px;
        border-radius: 30px;
        position: absolute;
        top: 0;
        right: 0;
        border: none; }
        .title .search .find .btn img {
          width: 20px;
          height: 18px;
          position: absolute;
          top: 9px;
          left: 18px; }
    .title .search .hot a {
      font: 12px/2 "";
      color: #999;
      display: inline-block;
      margin: 0 15px; }
      .title .search .hot a.fire {
        color: red; }
  .title .cart {
    float: right;
    width: 110px;
    height: 40px;
    border: 2px solid red;
    border-radius: 40px;
    margin: 24px 76px 36px 0;
    position: relative;
    font: 700 14px/36px ""; }
    .title .cart i {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-position: 0 -18px;
      position: absolute;
      top: 8px;
      left: 18px; }
    .title .cart span {
      position: absolute;
      right: 16px; }

/* 菜单 */
nav .menu {
  float: left;
  height: 40px;
  width: 164px;
  background: linear-gradient(to right, #f00, #ff3264);
  border-bottom: 1px solid #ff5160; }
  nav .menu .two {
    display: none;
    position: relative; }
    nav .menu .two li {
      z-index: 99999999999;
      background: linear-gradient(to right, #f00, #ff3264);
      position: relative;
      height: 40px;
      width: 164px; }
      nav .menu .two li a {
        height: 40px;
        width: 164px;
        display: block;
        text-decoration: none; }
        nav .menu .two li a span {
          float: left;
          width: 124px;
          display: block;
          font: 14px/40px "";
          text-align: center;
          color: #fff; }
        nav .menu .two li a i {
          float: left;
          display: block;
          width: 20px;
          height: 20px;
          margin: 10px 10px; }
          nav .menu .two li a i.t1 {
            background-position: 0 -20px; }
          nav .menu .two li a i.t2 {
            background-position: -20px -20px; }
          nav .menu .two li a i.t3 {
            background-position: -40px -20px; }
          nav .menu .two li a i.t4 {
            background-position: -60px -20px; }
          nav .menu .two li a i.t5 {
            background-position: -80px -20px; }
          nav .menu .two li a i.t6 {
            background-position: -100px -20px; }
          nav .menu .two li a i.t7 {
            background-position: -120px -20px; }
          nav .menu .two li a i.t8 {
            background-position: -140px -20px; }
          nav .menu .two li a i.t9 {
            background-position: -160px -20px; }
          nav .menu .two li a i.t10 {
            background-position: -180px -20px; }
          nav .menu .two li a i.t11 {
            background-position: -200px -20px; }
      nav .menu .two li .subMenu .joinus {
        width: 693px;
        height: 459px;
        background: #ddd;
        position: absolute;
        left: 164px;
        top: 0; }
      nav .menu .two li:hover {
        background: #fff; }
        nav .menu .two li:hover .subMenu {
          display: block; }
        nav .menu .two li:hover.mac .subMenu {
          top: -40px; }
        nav .menu .two li:hover.health .subMenu {
          top: -80px; }
        nav .menu .two li:hover.dev .subMenu {
          top: -120px; }
        nav .menu .two li:hover.dry .subMenu {
          top: -160px; }
        nav .menu .two li:hover.duds .subMenu {
          top: -200px; }
        nav .menu .two li:hover.sports .subMenu {
          top: -240px; }
        nav .menu .two li:hover.watch .subMenu {
          top: -280px; }
        nav .menu .two li:hover.luxury .subMenu {
          top: -320px; }
        nav .menu .two li:hover.life .subMenu {
          top: -360px; }
        nav .menu .two li:hover.food .subMenu {
          top: -400px; }
        nav .menu .two li:hover span {
          color: #f00; }
        nav .menu .two li:hover i.t1 {
          background-position: 0 0; }
        nav .menu .two li:hover i.t2 {
          background-position: -20px 0; }
        nav .menu .two li:hover i.t3 {
          background-position: -40px 0; }
        nav .menu .two li:hover i.t4 {
          background-position: -60px 0; }
        nav .menu .two li:hover i.t5 {
          background-position: -80px 0; }
        nav .menu .two li:hover i.t6 {
          background-position: -100px 0; }
        nav .menu .two li:hover i.t7 {
          background-position: -120px 0; }
        nav .menu .two li:hover i.t8 {
          background-position: -140px 0; }
        nav .menu .two li:hover i.t9 {
          background-position: -160px 0; }
        nav .menu .two li:hover i.t10 {
          background-position: -180px 0; }
        nav .menu .two li:hover i.t11 {
          background-position: -200px 0; }
  nav .menu .sort i {
    display: inline-block;
    width: 15px;
    height: 12px;
    background-position: 0 0;
    margin: 0 20px 0 15px; }
  nav .menu .sort span {
    font: 14px/40px "";
    text-align: center;
    color: #fff; }
  nav .menu:hover .two {
    display: block; }

#banner {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  #banner ul {
    height: 100%;
    position: relative;
    overflow: hidden;
    left: 50%;
    margin-left: -960px; }
    #banner ul li {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden; }
  #banner input {
    width: 25px;
    font: 700 16px/70px "";
    color: #fff;
    text-align: center;
    background: #673836;
    position: absolute;
    border: none;
    z-index: 10;
    top: 150px; }
    #banner input.btnl {
      left: 20px;
      z-index: 10000; }
    #banner input.btnr {
      right: 20px;
      z-index: 10000; }

#act .voucher {
  height: 484px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column; }
  #act .voucher h2 {
    font: 30px/68px "";
    color: #c5475a;
    text-align: center; }
  #act .voucher .new {
    height: 257px;
    border-bottom: 1px solid #ddd;
    position: relative; }
    #act .voucher .new .cher {
      position: absolute;
      left: 48px; }
      #act .voucher .new .cher a {
        margin: 0 7px; }
  #act .voucher .un {
    flex-grow: 0;
    position: relative; }
    #act .voucher .un .cher {
      position: absolute;
      left: 46px; }
      #act .voucher .un .cher a {
        margin: 0 5px; }

#act .venue {
  height: 320px;
  position: relative; }
  #act .venue .cher {
    position: absolute;
    left: 65px;
    margin: 11px 0; }
    #act .venue .cher a {
      margin: 0 5px; }

#goods {
  height: 4200px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden; }
  #goods .content .wome {
    background: #f0f0f0; }
    #goods .content .wome h3 {
      height: 60px;
      background: #e31436;
      font: 28px/60px "";
      color: #fff;
      text-align: center; }
    #goods .content .wome .list {
      display: flex;
      flex-wrap: wrap;
      margin: 12px 0 0 38px;
      height: 862px; }
      #goods .content .wome .list li {
        flex-grow: 0;
        width: 192px;
        height: 277px;
        background: #fff;
        position: relative;
        margin: 0 1px 7px 10px; }
        #goods .content .wome .list li .com a img {
          width: 192px;
          height: 192px; }
        #goods .content .wome .list li .area {
          position: absolute;
          left: 15px;
          top: 175px;
          width: 60px;
          height: 20px;
          border: 1px solid #e31436;
          border-radius: 3px;
          text-align: center; }
          #goods .content .wome .list li .area a {
            color: #e31436; }
        #goods .content .wome .list li .name {
          margin-left: 5px;
          display: block;
          width: 175px;
          font: 700 14px/28px "";
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #goods .content .wome .list li h6 {
          margin-left: 5px;
          font: 12px/2 "";
          color: #666; }
        #goods .content .wome .list li .desc {
          margin-left: 5px; }
          #goods .content .wome .list li .desc .price {
            font: 700 16px/32px "";
            color: #e31436;
            float: left; }
          #goods .content .wome .list li .desc .buy {
            display: block;
            width: 60px;
            height: 24px;
            font: 12px/2 "";
            color: #fff;
            text-align: center;
            float: right;
            margin: 4px 5px 4px 0;
            border-radius: 3px;
            background: #e31436; }
  #goods .content .optional {
    background: #f0f0f0; }
    #goods .content .optional h3 {
      height: 60px;
      background: #e31436;
      font: 28px/60px "";
      color: #fff;
      text-align: center; }
    #goods .content .optional .list {
      display: flex;
      flex-wrap: wrap;
      margin: 12px 0 0 38px;
      height: 862px; }
      #goods .content .optional .list li {
        flex-grow: 0;
        width: 192px;
        height: 277px;
        background: #fff;
        position: relative;
        margin: 0 1px 7px 10px; }
        #goods .content .optional .list li .com a img {
          width: 192px;
          height: 192px; }
        #goods .content .optional .list li .area {
          position: absolute;
          left: 15px;
          top: 175px;
          width: 60px;
          height: 20px;
          border: 1px solid #e31436;
          border-radius: 3px;
          text-align: center; }
          #goods .content .optional .list li .area a {
            color: #e31436; }
        #goods .content .optional .list li .name {
          margin-left: 5px;
          display: block;
          width: 175px;
          font: 700 14px/28px "";
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #goods .content .optional .list li h6 {
          margin-left: 5px;
          font: 12px/2 "";
          color: #666; }
        #goods .content .optional .list li .desc {
          margin-left: 5px; }
          #goods .content .optional .list li .desc .price {
            font: 700 16px/32px "";
            color: #e31436;
            float: left; }
          #goods .content .optional .list li .desc .buy {
            display: block;
            width: 60px;
            height: 24px;
            font: 12px/2 "";
            color: #fff;
            text-align: center;
            float: right;
            margin: 4px 5px 4px 0;
            border-radius: 3px;
            background: #e31436; }
  #goods .content .full {
    background: #f0f0f0; }
    #goods .content .full h3 {
      height: 60px;
      background: #e31436;
      font: 28px/60px "";
      color: #fff;
      text-align: center; }
    #goods .content .full .list {
      display: flex;
      flex-wrap: wrap;
      margin: 12px 0 0 38px;
      height: 862px; }
      #goods .content .full .list li {
        flex-grow: 0;
        width: 192px;
        height: 277px;
        background: #fff;
        position: relative;
        margin: 0 1px 7px 10px; }
        #goods .content .full .list li .com a img {
          width: 192px;
          height: 192px; }
        #goods .content .full .list li .area {
          position: absolute;
          left: 15px;
          top: 175px;
          width: 60px;
          height: 20px;
          border: 1px solid #e31436;
          border-radius: 3px;
          text-align: center; }
          #goods .content .full .list li .area a {
            color: #e31436; }
        #goods .content .full .list li .name {
          margin-left: 5px;
          display: block;
          width: 175px;
          font: 700 14px/28px "";
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #goods .content .full .list li h6 {
          margin-left: 5px;
          font: 12px/2 "";
          color: #666; }
        #goods .content .full .list li .desc {
          margin-left: 5px; }
          #goods .content .full .list li .desc .price {
            font: 700 16px/32px "";
            color: #e31436;
            float: left; }
          #goods .content .full .list li .desc .buy {
            display: block;
            width: 60px;
            height: 24px;
            font: 12px/2 "";
            color: #fff;
            text-align: center;
            float: right;
            margin: 4px 5px 4px 0;
            border-radius: 3px;
            background: #e31436; }
  #goods .content .factory {
    background: #f0f0f0; }
    #goods .content .factory h3 {
      height: 60px;
      background: #e31436;
      font: 28px/60px "";
      color: #fff;
      text-align: center; }
    #goods .content .factory .list {
      display: flex;
      flex-wrap: wrap;
      margin: 12px 0 0 38px;
      height: 862px; }
      #goods .content .factory .list li {
        flex-grow: 0;
        width: 192px;
        height: 277px;
        background: #fff;
        position: relative;
        margin: 0 1px 7px 10px; }
        #goods .content .factory .list li .com a img {
          width: 192px;
          height: 192px; }
        #goods .content .factory .list li .area {
          position: absolute;
          left: 15px;
          top: 175px;
          width: 60px;
          height: 20px;
          border: 1px solid #e31436;
          border-radius: 3px;
          text-align: center; }
          #goods .content .factory .list li .area a {
            color: #e31436; }
        #goods .content .factory .list li .name {
          margin-left: 5px;
          display: block;
          width: 175px;
          font: 700 14px/28px "";
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #goods .content .factory .list li h6 {
          margin-left: 5px;
          font: 12px/2 "";
          color: #666; }
        #goods .content .factory .list li .desc {
          margin-left: 5px; }
          #goods .content .factory .list li .desc .price {
            font: 700 16px/32px "";
            color: #e31436;
            float: left; }
          #goods .content .factory .list li .desc .buy {
            display: block;
            width: 60px;
            height: 24px;
            font: 12px/2 "";
            color: #fff;
            text-align: center;
            float: right;
            margin: 4px 5px 4px 0;
            border-radius: 3px;
            background: #e31436; }
  #goods .content .use a {
    display: block; }
    #goods .content .use a img {
      width: 100%;
      height: 400px; }

.box {
  width: 1090px;
  margin: 10px auto; }
  .box ul {
    /*overflow: hidden; !*清除子元素的浮动对父元素的影响*!*/
    position: relative;
    top: 1px; }
    .box ul:after {
      display: block;
      content: "";
      clear: both; }
    .box ul li {
      float: left;
      margin-right: 15px;
      width: 100px;
      height: 30px;
      border: 1px solid red;
      line-height: 30px;
      text-align: center;
      cursor: pointer; }
      .box ul li.select {
        background: #f03048; }
  .box div {
    display: none;
    height: 400px;
    text-align: center;
    /*clear: both; 清除哥哥元素的浮动对弟弟元素的影响*!*/ }
    .box div img {
      width: 1090px;
      height: 400px; }
    .box div.select {
      display: block; }

#side {
  width: 90px;
  position: fixed;
  right: 0;
  top: 30%;
  font: 12px/3 "";
  color: #fff;
  z-index: 999999;
  background: #f03048; }
  #side li {
    width: 90px;
    height: 36px;
    text-align: center;
    border-bottom: 1px solid #c0263a;
    cursor: pointer; }
    #side li:hover {
      background: #b42436; }
